<div id="footer" class="container60 Grid-column Grid-column--center">
    <div id="footer-text" class="Grid-column Grid-column--center">
        <h6>© <span id="theYear"></span> {{ site.author }}</h6>
        <h6 class="footer-web" style="margin: 0 20px 1px 20px;"> | </h6>
        <div class="Grid Grid--middle">
            <a href="mailto:{{ site.email }}">
                <h6 class="text-hover in" style="margin-top: 1px;">{{ site.email }}</h6>
            </a>
            <h6 style="margin: 0 20px 1px 20px;"> | </h6>
            <a href="{{ site.baseurl }}/privacy.html">
                <h6 class="text-hover in" style="margin-top: 1px;">{% t title.privacy %}</h6>
            </a>
        </div>
    </div>
</div>

<!-- getYear for footer -->
<script type="text/javascript">
    var now = new Date;
    var year = now.getYear();
    if (year < 1900) {
        year = year + 1900;
    }
    document.getElementById("theYear").innerHTML = year;
</script>
<!-- End getYear -->

<!--script src="{{ site.baseurl_root }}/js/vendor/cookies-eu-banner.js"></script-->