<div id="nav">
    <div id="navbar" class="container60 Grid Grid--middle Grid--spaceBetween">
        <a href="{{ site.baseurl }}/">
            <div id="nav-logo" class="Grid Grid--middle">
                    <div class="img-logo"></div>
                    <div>
                        <h1 class="logo-name">Hausärztliche <br>Gemeinschaftspraxis</h1>
                        <h3 class="logo-dr-name">Bondes • Langelüddecke</h3>
                    </div>
            </div>
        </a>   
        <div id="nav-right" class="Grid-column Grid-column--left">
            <div class="nav-info">
                <div class="nav-info-icon icon-phone icon20"></div>
                <a href="tel: {{ site.tel }}">
                    <h5>{{ site.tel }}</h5>
                </a>
            </div>
            <div class="nav-info">
                <div class="nav-info-icon icon-mail icon20"></div>
                <a href="mailto:{{ site.email }}">
                    <h5>{{ site.email }}</h5>
                </a>
            </div>
            <div class="nav-info">
                <div class="nav-info-icon icon-home icon20"></div>
                <a href="{{ site.address_map }}" target="_blank">
                    <h5>Franziskanerpl. 6, 3.O.G
                        <br>83471 Berchtesgaden</h5>
                </a>
            </div>
        </div>
    </div>
</div>
<!--div id="mobile-nav">
    <div id="mobile-navbar" class="container60 Grid Grid--middle Grid--spaceBetween">
        <div id="nav-logo" class="Grid Grid--middle">
            <a href="{{ site.baseurl }}/">
                <h2 class="text-hover in">{{ site.author }}</h2>
                <h6 style="margin-left: 2px;">
                    {% t nav.product %} 
                    Designer
                </h6>
            </a>
        </div>
        <div id="icon-menu" class="icon-hover" aria-expanded="false" data-toggle="collapse" data-target="#mobile-menu">
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="mobile-menu" class="container60 collapse">
        <h6>{% t nav.projects %}</h6>
        {% for project in site.data.projects %}
        <a class="menu-item Grid Grid--middle {% if page.id == project.id %}active{% endif %}" href="{{ site.baseurl }}/projects/{{ project.id }}.html">
            <div class="menu-left" style="background-image: url('{{ site.baseurl_root }}/img/{{ project.id }}/project-{{ project.id }}-mobile.jpg"></div>
            <div class="menu-right Grid-column">
                <h5 style="color: {{ project.color }};">{{ project.id }}</h5>
                <h5>{% t nav.{{ project.id }} %}</h5>
            </div>
        </a>
        {% endfor %}
        <h6>{% t nav.about %}</h6>
        <a class="menu-item Grid Grid--middle {% if page.id == 'about' %}active{% endif %}" href="{{ site.baseurl }}/about.html">
            <div class="menu-left" style="background-image: url('{{ site.baseurl_root }}/img/about/profile.jpg')"></div>
            <div class="menu-right">
                <h5>{% t home.contact-about %}!</h5>
            </div>
        </a>
        <h6>{% t about.more %}{% t nav.resume %}</h6>
        <div class="Grid">
            <a class="menu-item-row Grid-cell Grid Grid--middle" href="{{ site.baseurl_root }}/download/de/KJBondes.pdf" target="_blank">
                <h5 class="text-hover out">{% t nav.download-de %}</h5>
            </a>
            <a class="menu-item-row Grid-cell Grid Grid--middle" href="{{ site.baseurl_root }}/download/en/KJBondes.pdf" target="_blank">
                <h5 class="text-hover out">{% t nav.download-en %}</h5>
            </a>
        </div>
        <h6>{% t nav.lang %}</h6>
        <div class="Grid">
            {% for lang in site.data.multi-lang %}
                {% if site.lang == lang.id %}
                <a class="menu-item-row Grid-cell">
                    <h5 style="color: black;"><b>{{ lang.label }}</b></h5>
                </a>
                {% else %}
                <a class="menu-item-row Grid-cell" href="{{ site.baseurl_root }}{{ lang.link }}{{ page.url }}">
                    <h5 class="text-hover out">{{ lang.label }}</h5>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div-->